body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.wrapper {
    display: grid;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
    gap: 10px;
    padding: 20px;
}

.grid {
    display: grid;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
    gap: 10px;
}

.row {
    display: contents;
}

.column {
    padding: 20px;
    border: 1px solid #ddd;
    height: 100px;
}

.column:nth-child(1) {
    background-color: rgba(255, 0, 0, 0.3);
    grid-column: 2 / span 2;
}

.column:nth-child(2) {
    background-color: rgba(0, 255, 0, 0.3);
    grid-column: 4 / span 2;
}

.column:nth-child(3) {
    background-color: rgba(0, 0, 255, 0.3);
    grid-column: 2 / span 3;
}

.column:nth-child(4) {
    background-color: rgba(255, 255, 0, 0.3);
    grid-column: 5 / span 2;
}
