#wireframe {
    display: grid;
    grid-template-rows: minmax(0px, auto);
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr) ;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(75, 59, 79);
}

nav {
    background-color: rgb(121, 62, 143, 0.6);
    padding-right: 229px;
    grid-column: 1 / -1;
    grid-row: 1 / 1;
}

a {
    text-decoration: none;
}

#nav-logo {
    position: relative;
    left: 26px;
    height: auto;
    width: 70px;
    grid-column: 2 / 4;
    grid-row: 1;
    opacity: 0.9;

}

nav ul {
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content: right;
    gap: 60px;
    padding-right: 49px;
    font-size: 21px;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color: #fff;
}

nav img {
    float: left;

}

nav a:hover {
    color: rgb(121, 62, 143) ;
}

#flower-hero {
    background-image: url(images/flower-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 30%;
    height: 425px;
    grid-column: 1 / -1;
    grid-row: 1 / 4;
}

main {
    grid-column: 2 / 8;
    grid-row: 4 / 5;
}


main h2 {
    justify-content: left;
}

h2 {
    display: flex;
    color: #fff;
}

p {
    color: #fff;
    font-size: 17px;

}

#section1 {
    display: flex;
    background-color: rgb(47, 47, 47);
    gap: 84px;
    position: relative;
    top: -91px;
    padding: 53px;
}

#sec1-garden {
    position: relative;
    left: 20px;
    height: auto;
    width: 298px;
}

#bandaid {
    display: block;
}

#badnaid1 {
    display: block;
}

#section2 {
    display: flex;
    background-color: rgb(157, 157, 157);
    padding: 21px;
    justify-content: space-between;
    align-items: center;
    margin-top: -92px;
}

#sec2-logo {
    position: relative;
    top: -26px;
    height: auto;
    width: 370px;
}

#section2 p {
    text-align: center;
    font-size: 24px;
}

#section2 h1 {
    text-align: center;
}

.ze-button {
    text-align: center;
    color: #fff;
    background-color: rgb(10, 100, 17);
    border-radius: 35px;
    padding: 12px 48px;
    margin-top: 11px;
    font-size: 1.2rem;
    border: 0px;
    display: block;
    position: relative;
    margin: 20px auto;
}

.ze-button:hover {
    color:antiquewhite;
    background-color: #556B2F;
}

footer {
    background-color: rgb(74, 90, 74);
    color: #fff;
    display: flex;
    justify-content: center;
    gap: 747px;
    grid-column: 1 / -1;
    grid-row: 5 / 6;
}

footer h5 {
    margin-top: 19px;
    margin-bottom: 0px;
}

footer p {
    margin-bottom: 20px;
    margin-top: 6px;
}

#heh {
    display: block;
}