#wireframe {
    display: grid;
    grid-template-rows: minmax(0px, auto);
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr) ;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(75, 59, 79);
}

header {
    grid-column: 1 / -1;
    grid-row: 1;
    display: grid;
    grid-template-columns: subgrid;
}

nav {
    background-color: rgb(121, 62, 143, 0.6);
    display: flex;
    height: 80px;
    justify-content: center;
    grid-column: 1 / -1;
    gap: 340px;
}

a {
    text-decoration: none;
}

#nav-logo {
    position: relative;
    height: auto;
    width: 70px;
}

nav ul {
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content: right;
    gap: 60px;
    padding-right: 49px;
    font-size: 21px;
    font-weight: bold;
    padding-top: 7px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

nav img {
    float: left;

}

nav a:hover {
    color: rgb(121, 62, 143) ;
}

#flower-hero {
    background-image: url(images/flower-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 30%;
    height: 425px;
    grid-column: 1 / -1;
    grid-row: 1 / 4;
}

main {
    grid-column: 2 / 8;
    grid-row: 4 / 5;
}


main h2 {
    justify-content: left;
}

h2 {
    display: flex;
    color: #fff;
}

p {
    color: #fff;
    font-size: 17px;

}

#section1 {
    display: flex;
    background-color: rgb(47, 47, 47);
    gap: 84px;
    position: relative;
    top: -100px;
    padding: 53px;
}

#sec1-garden {
    position: relative;
    left: 20px;
    height: auto;
    width: 298px;
}

#bandaid {
    display: block;
}

#badnaid1 {
    display: block;
}

#section2 {
    display: flex;
    background-color: rgb(157, 157, 157);
    padding: 21px;
    justify-content: space-between;
    align-items: center;
    margin-top: -99px;
}

#sec2-logo {
    position: relative;
    top: -26px;
    height: auto;
    width: 370px;
}

#section2 p {
    text-align: center;
    font-size: 24px;
}

#section2 h1 {
    text-align: center;
}

#ze-button {
    text-align: center;
    color: #fff;
    background-color: rgb(10, 100, 17);
    border-radius: 35px;
    padding: 12px 24px;
    font-size: 1.2rem;
    border: 0px;
    display: block;
    position: relative;
    margin: 20px 200px;
}

#ze-button:hover {
    color:antiquewhite;
    background-color: #556B2F;
}

footer {
    background-color: rgb(74, 90, 74);
    color: #fff;
    justify-content: center;
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    grid-row: 5 / 6;
}

footer h5 {
    margin: 13px auto;
    grid-column: 2 / 3;
}

footer p {
    margin-bottom: 20px;
    margin-top: 6px;
}

#heh {
    display: block;
    grid-column: 7 / 8;
}

@media screen and (max-width: 992px) {
    #wireframe {
        display: grid;
        grid-template-columns: 1fr minmax(0, 768px) 1fr;
        grid-template-rows: minmax(0px, auto);
    }

    header {
        grid-column: 1 / -1;
        display: block;
        text-align: center;
    }

    nav {
        background-color: blue;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
        height: auto;
        gap: 20px;
    }

    nav img {
        grid-row: 1;
        grid-column: 1 / -1;
    }

    nav ul {
        flex-direction: column;
        gap: 16px;
        padding: 0;
        font-size: 18px;
    }

    #flower-hero {
        background-size: cover;
        height: 425px;
        grid-column: 2;
        grid-row: 2;
    }

    #section1 {
        flex-direction: column;
        gap: 32px;
        padding: 24px;
    }

    #section2 {
        flex-direction: column;
        gap: 32px;
        padding: 24px;
    }

    #ze-button {
        margin: 20px auto;
        width: fit-content;
        padding: 10px 24px;
    }

    footer {
        grid-column: 1 / -2;
        grid-template-columns: 1fr;
    }

    #heh {
        grid-column: auto;
        margin-top: 20px;
    }
}

@media screen and (max-width: 768px) {
    #wireframe {
        grid-template-columns: 1fr;
    }
    nav {
        background-color: green;
    }
    nav ul {
        font-size: 16px;
    }
    #ze-button {
        margin: 20px auto;
        padding: 10px 20px;
        width: fit-content;
    }

}